In [2]:
import torch
import pandas as pd

## Read in the dataset

In [3]:
input_df = pd.read_csv('./data/input_dataset.csv')
input_df

,i,j,1d,f(x),fx_cut_2,fx_cut_5,fx_cut_10,fx_cut_20,fx_cut_50,fx_cut_100,fx_qcut_2,fx_qcut_5,fx_qcut_10,fx_qcut_20,fx_qcut_50,fx_qcut_100
0,1,1,0,8.342349,1,1,1,1,1,1,1,1,1,1,1,1
1,2,1,1,9.585238,1,1,1,1,1,1,1,1,1,1,1,1
2,3,1,2,12.001880,1,1,1,1,1,2,1,1,1,1,1,2
3,4,1,3,11.961410,1,1,1,1,1,2,1,1,1,1,1,2
4,5,1,4,11.420570,1,1,1,1,1,2,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,36,40,1595,26.635980,1,1,1,2,4,8,1,1,2,3,7,14
1596,37,40,1596,21.991700,1,1,1,2,3,6,1,1,1,2,5,10
1597,38,40,1597,20.292110,1,1,1,2,3,6,1,1,1,2,4,8
1598,39,40,1598,20.181530,1,1,1,2,3,6,1,1,1,2,4,8
1599,40,40,1599,15.084280,1,1,1,1,2,4,1,1,1,1,2,4

In [23]:
input_df['fx_cut_2']

0       1
1       1
2       1
3       1
4       1
       ..
1595    1
1596    1
1597    1
1598    1
1599    1
Name: fx_cut_2, Length: 1600, dtype: int64

# Create the Torch dataset object

Because we want to try different labels for the target data, we create a flexible function that allows us to do so

In [4]:
from torch.utils.data import Dataset

In [65]:
class SimpleDataset(Dataset):
    def __init__(self, input_df, label_name):
        self.X = input_df[['i', 'j']]
        self.y = input_df[label_name]

    def __getitem__(self, index):
        inputs = torch.tensor(self.X.iloc[index,:], dtype=torch.float32)
        labels = torch.tensor(self.y.iloc[index], dtype=torch.int64)
        return inputs, labels

    def __len__(self):
        return self.X.shape[0]

def create_simpledataset(label_name):
    return SimpleDataset(input_df, label_name)

def create_train_test_splits(dataset=None, label_name=None, train_split=0.80):
    if dataset is None:
        assert label_name is not None
        dataset = create_simpledataset(label_name)
        
    train_size = int(len(dataset) * train_split)
    test_size = len(dataset) - train_size
    train_dataset, test_dataset = torch.utils.data.random_split(dataset, (train_size, test_size))
    print("{} examples for training and {} examples for testing".format(len(train_dataset), len(test_dataset)))
    return train_dataset, test_dataset

In [42]:
#dataset = SimpleDataset(input_df, 'fx_cut_2')
dataset = create_simpledataset('fx_cut_2')

In [43]:
dataset[0]

/tmp/ipykernel_16235/2684170915.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  inputs = torch.tensor(self.X.iloc[index,:], dtype=torch.float32)

(tensor([1., 1.]), tensor(1))

In [44]:
print(len(dataset))
example, label = dataset[0]
print("Features: ", example.shape)
print("Label of index 0: ", label)

1600
Features:  torch.Size([2])
Label of index 0:  tensor(1)

/tmp/ipykernel_16235/2684170915.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  inputs = torch.tensor(self.X.iloc[index,:], dtype=torch.float32)

In [54]:
dataset = SimpleDataset(input_df, 'fx_cut_10')

In [55]:
dataset

In [66]:
train_dataset, test_dataset = create_train_test_splits(label_name='fx_cut_10')

1280 examples for training and 320 examples for testing