# Prepare the data for the modeling

In [3]:
import pandas as pd
import numpy as np

In [4]:
input_file = './data/npv_surface_40_40_1.dat'

In [13]:
input_df = pd.read_csv(input_file, header=None, names=['f(x)'])

In [15]:
input_df

           f(x)
0      8.342349
1      9.585238
2     12.001880
3     11.961410
4     11.420570
...         ...
1595  26.635980
1596  21.991700
1597  20.292110
1598  20.181530
1599  15.084280

[1600 rows x 1 columns]

# Add the spatial variables

The grid is uniform 40x40 and we use that information to define the (i,j) grid values

In [25]:
import itertools
from typing import Tuple, List

In [17]:
# product() is equivalent to nested for loops, yields a generator

In [20]:
# grid = itertools.product(range(1,41), range(1, 41), repeat=1)

In [39]:
# But we will use a loop format instead for simplicitY
NUM_COLS, NUM_ROWS = 40, 40

def get_1d_index(i, j):
    return (i - 1) + (j - 1) * NUM_ROWS
    
def generate_grid(num_rows:int, num_cols:int) -> Tuple[List[int], List[int], List[int]]:
    total_cells = num_rows * num_cols
    x_vals = [0] * total_cells
    y_vals = [0] * total_cells 
    index_1d = [0] * total_cells
    for i in range(1, num_rows + 1):
        for j in range(1, num_cols + 1): 
            index = (i-1) + (j-1) * num_rows
            x_vals[index] = i
            y_vals[index] = j
            index_1d[index] = index

    return x_vals, y_vals, index_1d

In [28]:
x_vals, y_vals, index_1d = generate_grid(num_rows=40, num_cols=40)

In [31]:
input_df['i'] = x_vals
input_df['j'] = y_vals
input_df['1d'] = index_1d

In [35]:
# reorder the columnes
input_df = input_df[['i','j','1d','f(x)']]

In [36]:
input_df

       i   j    1d       f(x)
0      1   1     0   8.342349
1      2   1     1   9.585238
2      3   1     2  12.001880
3      4   1     3  11.961410
4      5   1     4  11.420570
...   ..  ..   ...        ...
1595  36  40  1595  26.635980
1596  37  40  1596  21.991700
1597  38  40  1597  20.292110
1598  39  40  1598  20.181530
1599  40  40  1599  15.084280

[1600 rows x 4 columns]

In [41]:
# get the maximum objective function
max(input_df['f(x)'])

266.1815

In [40]:
# confirm the objective function at grid (20,20) is the maximum = 266.1815
input_df.loc[get_1d_index(20,20)]

i        20.0000
j        20.0000
1d      779.0000
f(x)    266.1815
Name: 779, dtype: float64

# Derive different